---
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import ExternalLinkIcon from "../../../icons/ExternalLinkIcon.astro";
import GithubIcon from "../../../icons/technologies/GithubIcon.astro";
// Components
import ProjectCardLink from "./ProjectCardLink.astro";

const { title, description, link, github, image, technologies } = Astro.props;

// i18n import
import { getI18n } from "../../../../i18n";
import TechnologyBadge from "./TechnologyBadge.astro";
// i18n setup
const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<article
  class=`
	flex flex-col
  	bg-white dark:bg-gray-800/40 
	shadow-md shadow-black/20 dark:shadow-gray-500/30 
	rounded-lg md:hover:scale-105
	transition-transform duration-300
  `
  aria-label={`Navigate to project: ${title}`}
>
  <img
    src={image}
    alt={title}
    class="w-full h-56 object-cover rounded-t-lg [mask-image:linear-gradient(to_bottom,black_95%,#000d_98%,transparent);]"
  />

  <div class="p-4 pb-3">
    <h1 class="text-2xl font-semibold mb-0.5 text-black dark:text-amber-500">
      {title[currentLocale || "es"]}
    </h1>
    <p class="text-gray-600 dark:text-white flex-grow">
      {description[currentLocale || "es"]}
    </p>
  </div>

  <div class="px-4 pb-4 flex-grow">
    <div class="flex flex-wrap gap-2 text-sm">
      {
        technologies?.map(
          (technology: { name: string; icon: AstroComponentFactory }) => (
            <TechnologyBadge key={technology.name} technology={technology} />
          )
        )
      }
    </div>
  </div>

  <div class="p-4 pt-1 flex gap-3">
    <!-- GITHUB (LINK) -->
    <ProjectCardLink
      class=`border-slate-800
				hover:text-orange-700 hover:bg-blue-100/15 hover:border-orange-700/80
				dark:border-gray-300/90 
				dark:hover:text-amber-400/95 dark:hover:bg-slate-900/50 dark:hover:border-amber-500/80`
      href=`${github}`
    >
      <GithubIcon class="size-5" stroke-width="2" />
      {i18n.GO_TO_GITHUB}
    </ProjectCardLink>
    <!-- / GITHUB (LINK) -->
    <!-- VISIT PROJECT (LINK) -->
    <ProjectCardLink
      class=`text-white/90 bg-slate-900 border-gray-500
				hover:text-amber-400 hover:bg-slate-950 hover:border-slate-800
				dark:text-black dark:bg-gray-100 dark:border-white
				dark:hover:text-amber-950 dark:hover:bg-amber-50 dark:hover:border-amber-800/60`
      href=`${link}`
    >
      <ExternalLinkIcon class="size-5" stroke-width="2" />
      {i18n.GO_TO_PROJECT}
    </ProjectCardLink>
    <!-- / VISIT PROJECT (LINK) -->
  </div>
</article>
