---
import ExternalLinkIcon from "../../../icons/ExternalLinkIcon.astro";
import GithubIcon from "../../../icons/GithubIcon.astro";

const { title, description, link, github, image } = Astro.props;

// i18n import
import { getI18n } from "../../../../i18n";
import ProjectCardLink from "./ProjectCardLink.astro";
// i18n setup
const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<article
  class=`
	flex flex-col
  	bg-gray-50 dark:bg-gray-800/40 
	shadow-md dark:shadow-white/5 
	rounded-lg cursor-pointer md:hover:scale-105
	transition-transform duration-300
  `
  aria-label={`Navigate to project: ${title}`}
>
  <img
    src={image}
    alt={title}
    class="w-full h-56 object-cover rounded-t-lg [mask-image:linear-gradient(to_bottom,black_95%,#000d_98%,transparent);]"
  />

  <div class="p-4 flex-grow">
    <h1
      class="text-2xl font-semibold mb-0.5 text-black dark:text-amber-500 cursor-pointer"
    >
      {title[currentLocale || "es"]}
    </h1>
    <p class="text-gray-600 dark:text-white cursor-pointer flex-grow">
      {description[currentLocale || "es"]}
    </p>
  </div>

  <div class="p-4 pt-1 flex gap-3">
    <!-- VISIT PROJECT (LINK) -->
    <ProjectCardLink
      class=`text-white/90 bg-slate-800 
	  		hover:text-white hover:bg-slate-950
	  		dark:text-black dark:bg-gray-300
			dark:hover:text-black dark:hover:bg-gray-100/95 dark:hover:border-blue-950`
      href=`${link}`
    >
      <ExternalLinkIcon class="size-5" />
      {i18n.GO_TO_PROJECT}
    </ProjectCardLink>
    <!-- / VISIT PROJECT (LINK) -->
    <!-- GITHUB (LINK) -->
    <ProjectCardLink
      class=`hover:text-blue-800 hover:bg-blue-100/15 hover:border-blue-700
	  		dark:border-gray-300 dark:hover:text-blue-300 dark:hover:bg-blue-200/5 dark:hover:border-blue-500`
      href=`${github}`
    >
      <GithubIcon class="size-5" />
      {i18n.GO_TO_GITHUB}
    </ProjectCardLink>
    <!-- / GITHUB (LINK) -->
  </div>
</article>
