---
import SectionContainer from "../SectionContainer.astro";
import LocalizedText from "../LocalizedText.astro";
import Badge from "../Badge.astro";

// i18n import
import { getI18n } from "../../i18n";

// i18n setup
const { currentLocale = "es" } = Astro;
const i18n = getI18n({ currentLocale });
---

<SectionContainer>
  <div
    class="flex flex-col md:flex-row justify-center items-center lg:mx-6 text-center gap-8"
  >
    <img
      class="size-40 md:size-44 lg:size-56 aspect-square rounded-full border-4 border-amber-600 dark:border-orange-400 border-opacity-80 shadow-md shadow-amber-500/40"
      src="/images/pfp.webp"
      alt="Kazz's Profile Picture"
    />
    <div>
      <h1 class="text-4xl md:text-5xl lg:text-6xl drop-shadow-sm">
        <LocalizedText
          i18nLocalizedText={i18n.HEADER_TITLE}
          replaceFrom="%%name%%"
          replaceTo=`${i18n.DEV_NAME}`
          className="text-gradient-to-br from-orange-400 via-amber-500 to-orange-500 dark:from-orange-400/85 dark:via-amber-400 dark:to-orange-400 font-bold"
        />
      </h1>
      <h2
        class="text-xl md:text-2xl lg:text-3xl mt-1 md:mt-2 font-bold text-black/70 dark:text-slate-200"
      >
        <LocalizedText
          i18nLocalizedText={i18n.HEADER_SUBTITLE}
          replaceFrom="%%webdev%%"
          replaceTo={i18n.HEADER_SUBTITLE_WEBDEV}
          className="text-gradient-to-b from-amber-500 to-orange-500 dark:from-orange-300 dark:to-amber-300"
        />
      </h2>

      <p class="my-4 mt-3 mx-auto md:px-8 md:text-lg text-pretty">
        <LocalizedText
          i18nLocalizedText={i18n.HEADER_TEXT_1}
          replaceFrom="%%highlight%%"
          replaceTo={i18n.HEADER_TEXT_1_HIGHLIGHT}
          className="text-amber-500 dark:text-amber-300"
        />
        <LocalizedText
          i18nLocalizedText={i18n.HEADER_TEXT_2}
          replaceFrom="%%highlight%%"
          replaceTo={i18n.HEADER_TEXT_2_HIGHLIGHT}
          className="text-amber-500 dark:text-amber-300"
        />
      </p>

      <Badge class="text-sm" color="green">
        {i18n.AVAILABLE_FOR_WORK}
      </Badge>
    </div>
  </div>
</SectionContainer>
